# https://www.toptal.com/developers/gitignore/

### Miscellaneous ###
logs/
build/
public/
.agents/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
